@(question: Question,answer: List[Answer], form: Form[QuestionView.UserAnswer])

@main(question.getTitle(),null){
    <div>
    <h2>@question.getTitle()</h2>
    <h4>@question.getUser().getUsn()</h4>
    <h3>@question.getBody()</h3>

        @helper.form(routes.QuestionView.addAnswer(question.getId())) {

            <textarea name="body" value="@form("body").value()" placeholder="Type something..." style="width: 100%;  min-height: 100px;">
            </textarea><br/>
            <button class="btn-default" style="text-align: center"><input type="submit"></button>

        }
    </div>

    <ul>
    @for(i <- answer) {
        <li>
            <h3>@i.getBody()</h3>
            <h4>@i.getUser().getUsn()</h4>
            <h4>@i.getTime()</h4>
        </li>
    }
    </ul>
}