@(questions:List[Question], subject: String, form: Form[QuestionView.UserQuestion])

@main("Questions"){
    <br>
    <article>
        <div class="container">
            <div class="col-lg-10" style="margin-left: -30px;">
                <div class="panel panel-default" style="background-color: white; padding:1em">
                @for(i<-questions) {
                        <h2 class="panel-heading" style= " background-color:indianred;">@i.id
                        <a style="color:black" href="@routes.QuestionView.viewQuestionById(i.id)">@i.title</a>
                        <h5 class="bg-info" style="text-align: right">User: @i.user.usn</h5>
                        </h2>
                        <article class="panel-body" style="font-size: 20px;">&nbsp&nbsp @i.body</article>
                }

                </div>
            </div>
        </div>
    </article>

    <div class="well">
        <div class="form-group">
            @helper.form(routes.QuestionView.addQuestion(subject)) {

                <h3 class="sub-header">Title</h3>
                <textarea class="form-control" name="title" id="styled" style="background: lightgoldenrodyellow; font-size: 20px;" placeholder="Type..."></textarea>
                <br>
                <h4 class="sub-header">Body</h4>
                <textarea class="form-control" name="body" id="styled"  style="background: lightgoldenrodyellow; font-size: 20px" placeholder="Type..."></textarea>
                <br>
                <button id="btn" class="btn-primary" >Add Question</button>

            }
            @if(flash().containsKey("error")) {
                <p style="color: red ;">
                @flash.get("error")
                </p>
            }
        </div>
    </div>

}