@(question: Question, answerWithComments: List[QuestionView.AnswerWithComments], form: Form[QuestionView.UserAnswer])

@main(question.title){
    <div style="background-color: lightgrey">
    <h2>@question.title</h2>
    <h4>@question.user.usn</h4>
    <h3>@question.body</h3>

        @helper.form(routes.QuestionView.addAnswer(question.id)) {

            <textarea name="body" id="styled"  onblur="setbg('white')" style="background: lightblue;" placeholder="Type..."></textarea>
            <br>
            <button class="btn-lg btn-primary">Submit</button>
            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }
        }
    </div>


    @for(i <- answerWithComments) {
        <div class="panel panel-default" style="background-color:darkgrey ">
            <div class="container-wrap">
`           <h5 style="text-align:right; color:green;">User: @i.answer.user.usn Time: @i.answer.time</h5>
            <p>@i.answer.body</p>
            @helper.form(routes.QuestionView.addComment(i.answer.id)) {

                <textarea name="body" id="ministyled"  onblur="setbg('white')" style="background: lightblue;" placeholder="Type..."></textarea>
                <br>
                <button id="btn" class="btn-primary" onclick="showStuff(); " >Add Comment</button>
                <a href=""><button></button></a>
            }
            <ul>
            @for(j<-i.comments){
                <li style="text-align: right">@j.user.usn @j.time</li>
                <li>@j.body</li>
            }
            </ul>
            </div>
        </div>
    }


}