@(loginForm: Form[Application.Login],signUpform: Form[Application.SignUp])

@main("Enter"){
    <div>
        <br>
        <div class="col-lg-4" style="border: solid 2px; min-height: 500px;">
    @helper.form(action = routes.Application.authenticateLogin){
            <h1>Log in</h1>
            @if(flash.containsKey("notFound")){
            <p style="color: red">@flash.get("notFound")</p>
            }
            <input class="form-control" type="name" name="usn" placeholder="USN"><br>
            <input class="form-control" type="password" name="password" placeholder="Password"><br>
            <button class="btn btn-success mar" type="submit">Login</button>

        }
        </div>
        <div class="col-lg-6" style="border: solid 2px; min-height: 500px;">
        @helper.form(action = routes.Application.authenticateSignup){
            <h1>Sign Up</h1>
            @if(signUpform.hasErrors()){
                <p>@signUpform.globalError()</p>
            }
            @if(flash.containsKey("fail")){
                <p style="color: red">@flash.get("fail")</p>
            }

                <input class="form-control" type="name" name="usn" placeholder="USN"><br>
                <input class="form-control" type="password" name="password" placeholder="Password"><br>
                <input class="form-control" type="name" name="username" placeholder="Name"><br>
                <input class="form-control" type="name" name="firstName" placeholder="firstName"><br>
                <input class="form-control" type="name" name="lastName" placeholder="lastName"><br>
                <input class="form-control" type="email" name="email" placeholder="email"><br>
                <button class="btn btn-danger" type="submit">SignUp</button>

        }
    </div>
    </div>

}