@(loginForm: Form[Application.Login],signUpform: Form[Application.SignUp])

@main("Enter"){
    <div>
        <br>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#login" data-toggle="tab">
                    Login
                </a>
            </li>
            <li><a href="#signup" data-toggle="tab">SignUp</a></li>
        </ul>

        <div id="myTabContent" class="tab-content col-lg-4">
            <div class="tab-pane fade in active" id="login">
            @helper.form(action = routes.Application.authenticateLogin){
            <h1>Log in</h1>
            @if(loginForm.hasErrors){
            <p style="color:red">@loginForm.globalError.message</p>
            }
            <input class="form-control" type="name" name="usn" placeholder="USN"><br>
            <input class="form-control" type="password" name="password" placeholder="Password"><br>
            <button class="btn btn-success mar" type="submit">Login</button>

            }
            </div>

            <div class="tab-pane fade" id="signup">
            @helper.form(action = routes.Application.authenticateSignup){
            <h1>Sign Up</h1>
            @if(signUpform.hasErrors){
                <p style="color:red">@signUpform.globalError.message</p>
            }
                <input class="form-control" type="name" name="usn" placeholder="USN"><br>
                <input class="form-control" type="password" name="password" placeholder="Password"><br>
                <input class="form-control" type="name" name="username" placeholder="Name"><br>
                <input class="form-control" type="name" name="firstName" placeholder="firstName"><br>
                <input class="form-control" type="name" name="lastName" placeholder="lastName"><br>
                <input class="form-control" type="email" name="email" placeholder="email"><br>
                <button class="btn btn-danger" type="submit">SignUp</button>

            }
            </div>
        </div>
    </div>

}