
@(user:List[Users],questions:List[Question],subject:List[Subject],q1:List[Question])

@main("Welcome to Play") {
    <div>
    <div class="col-lg-3 nav-sidebar">
        <h2 class="sub-header"><cufontext>&nbsp&nbsp&nbsp&nbsp&nbspSubjects</cufontext></h2>
        @for(subjects<-subject) {
            <button type="button" onclick="document.location.href = '@routes.QuestionView.questions(subjects.name)'" style="width:190px;"class="btn btn-default btn-lg btn-block">@subjects.name</button>
        }

    </div></div><br>
    <div class="col-lg-8">
   @for(i<-user){
       <h3 style="color:blue">@i.usn @i.username @i.password @i.firstName @i.lastName @i.email</h3>
       <p>----</p>
   }
   @for(i<-questions){
        <h3 style="color:red">@i.id @i.user.usn  @i.subject.name @i.user.username @i.user.password
            @i.title @i.body @i.time</h3>
        <p>----</p>
   }
   @for(i<-subject){
       <h3 style="color:yellow">@i.name @i.number</h3>
   }
    @for(i<-q1){
        <h3 style="color:green">@i.id @i.user.usn  @i.subject.name @i.user.username @i.user.password
            @i.title @i.body @i.time</h3>
        <p>----</p>
    }
    </div>
}
