@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="assets/stylesheets/bootstrap.min.js"></script>
    </head>
    <body style="background-color:#21829E">
        <nav class="navbar navbar-default" role="navigation" id="top" style="border:4px solid #ceeeee;">

            <div class="navbar-brand" style="font-size:40px; color:black; font-family: century gothic">CSE</div>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#drop">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="drop">

                <ul class="nav navbar-nav">
                    <li><a href="@routes.Application.index()">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-center">
                    @if(!session.contains("usn")){
                    <li><a href="@routes.Application.login()">Log In/Sign Up</a></li>}
                    @if(session.contains("usn")){
                    <li><a href="@routes.Application.logout()">Logout</a></li>
                    }
                </ul>
                @if(session.contains("usn")){
                <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Users.find.ref(session.get("usn")).username<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Credits</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>

                }
            </div><!-- /.navbar-collapse -->
        </nav>
        <div class="container-fluid" style="background-color: #EEEEEE;border:4px solid #ceeeee;">
        @content
        </div>
    </body>
</html>
